<div class="container mt-4">
  <nav>
  <hr>
  </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-outline-secondary btn-sm mb-4" routerLink="/dashboard/product-nuevo"><i class="fa fa-plus"></i> Nuevo</button>
    </div>
  </div>
  <div class="container" *ngIf="!listaVacia">
    <table class="table text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}$</td>
            <td><button class="btn btn-outline-primary" routerLink="/dashboard/product-detalle/{{producto.id}}"><i class="fa fa-eye"></i></button></td>
            <td><button class="btn btn-outline-warning" routerLink="/dashboard/product-editar/{{producto.id}}">Edit</button></td>
            <td><button class="btn btn-outline-danger" (click)="producto.id !== undefined ? borrar(producto.id) : null"><i class="fa fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="container" *ngIf="listaVacia">
    <div class="p-3 text-center"><h2>{{listaVacia}}</h2></div>
  </div>
