<nav class="navbar navbar-expand-lg sticky-top mb-4" style="background-color: #e2ecec;">
  <div class="container">
    <a class="navbar-brand" href="/"> <img src="./assets/img/icons/logoshop.png" alt=""
        style="height: 45px; width: 100%;" class="d-inline-block align-text-top imagen-navbar"></a>
    <button class="btn navbar-toggler btn-nav-pie" type="button" data-toggle="collapse" data-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="true" aria-label="Toggle navigation">
      <img src="./assets/img/icons/menu.png" alt="menuResponsive" width="20px" height="20px">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item">
          <a class="nav-link btn-nav-pie" routerLink="/pages/tienda">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-nav-pie" routerLink="/pages/contactenos">Contacto</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn-nav-pie" routerLink="/pages/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-nav-pie" routerLink="/pages/order">Cotizar</a>
        </li>
            <a class="nav-link btn-nav-pie text-danger" *ngIf="isLogged" (click)="logOut()"><span class="small">Cerrar sesión</span></a>
      </ul>
      <button  routerLink="/pages/carrito"class="cart-btn">
        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
        <span class="span"></span>
        <span class="cart-item-count">{{ cartService.getCartItems().length }}</span>
      </button>
    </div>
  </div>
</nav>
