<div class="jumbotron jumbotron-fluid">
  <img class="container-fluid" src="assets/img/inicio/carrusel/banner3.jpg" alt="" srcset="">
  <div class="container-fluid">
    <h2 class="display-4 text-center padding-bottom: 100px;">Nosotros</h2>
  </div>
</div>
<div class="container">
  <div class="container-fluid">
    <div class="row justify-content-md-center text-center text-wrap">
      <div class="col-md-auto mb-md-0 p-md-auto">
        <p class="fs-3">La historia de CotyStyle comienza con la formación de la Sra. Ana,
          ella desarrolla su interés por la moda desde temprana edad gracias a una boutique cercana
          a su hogar. La dueña de la tienda y ella establecen una conexión especial,
          llegando a convertirse en grandes amigas. Con el tiempo,
          el entusiasmo y la pasión de la Sra. Ana por la moda se expanden,
          transformando su interés en algo más que una simple forma de ganarse la vida.</p>
        <hr style="color: #133133">



        <div class="container-fluid">

          <div class="row no-gutters position-relative right">

            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="assets/img/inicio/carrusel/banner2.jpg" class="w-100 " alt="family">
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0 text-justify">
              <p>Con el paso de los años, la dueña de la boutique le brinda a la Sra. Ana la oportunidad de ser su mano
                derecha,
                compartiendo todo su conocimiento y pasión por el mundo de la moda. Así, logra acumular valiosa
                experiencia y
                conocimientos a una edad temprana.</p>
              <p>Lamentablemente, durante el regreso de la entrega de una colección, se ven involucradas en un accidente
                automovilístico
                y la dueña de la tienda fallece. A pesar de la trágica pérdida, la demanda de moda y la lealtad de los
                clientes
                persisten. En vista de esto, la Sra. Ana decide honrar el legado que le dejaron y es así como nace
                ModaNova.</p>
            </div>
          </div>
        </div>

        <div class="container-fluid">

          <div class="row no-gutters position-relative">

            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="assets/img/inicio/carrusel/banner4.jpg" class="w-100 " alt="family">
            </div>

            <div class="col-md-6 position-static p-4 pl-md-0 text-justify">
              <p>Con 20 años de experiencia en el apasionante mundo de la moda, hemos contribuido desde la creación de
                piezas únicas hasta la confección de colecciones completas,
                abordando diseños desde los más simples y elegantes hasta aquellos que deslumbran con detalles
                espectaculares.
                Nuestra trayectoria incluye colaboraciones con una diversidad de clientes, desde reconocidas empresas y
                arquitectos hasta amigos y vecinos en toda la Ciudad de México y algunos estados del país.
                Además, hemos tenido la distinción de llevar nuestro talento más allá de las fronteras, participando en
                proyectos internacionales en lugares como Inglaterra y Francia.
                Entre nuestros logros destacan la restauración de una casa centenaria, la creación de un vestuario
                acústico y la instalación de un estudio de grabación.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------- FRASE --------------------------------- -->
  <div class="container-fluid">
    <div class="container-fluid" style="width: 0 auto; margin: 0 auto; padding-top: 40px; padding-bottom: 40px;">

      <div class="testimonial-quote group mb-4">
        <img src="assets/img/inicio/carrusel/banner3.jpg">
        <div class="quote-container fluid">
          <blockquote class="text-wrap">
            <p>Hoy en día, ModaNova aspira a expandir sus horizontes y conectarse con una audiencia más amplia a través
              del mercado en línea,
              brindando una atención única y exclusiva a cada uno de sus valiosos clientes.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
