<footer style="background-color: #e2ecec;">
  <img src="./assets/img/icons/logoshop.png" alt="logo" height="30px">
  <div class="iconos-redes-sociales-container">
          <a href="https://www.facebook.com" class="redes-iconos"></a>
          <a href="https://www.instagram.com" class="redes-iconos"></a>
          <a href="https://api.whatsapp.com" class="redes-iconos"></a>
      </div>
  <div class="class"></div>
  <ul class="pie-de-pagina-container">
      <li class="item-menu">
          <a href="/" style="color: #0a0a0a;">Politica de privacidad</a>
      </li>
      <li class="item-menu">
          <a href="/" style="color: #0f0f0f;">Terminos y condiciones</a>
      </li>
      <li class="item-menu">
          <a href="/" style="color: #0e0d0d;">Politica de cookies</a>
      </li>
  </ul>
  <span class="copyright">&copy;2023, Shop. Todos los derechos reservados.</span>
</footer>
