<div class="container mt-4">
  <div class="container">
    <div class="row mt-5" *ngIf="order">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                  <h1>Cotizacion</h1>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{order.id}}</li>
                    <li class="list-group-item"><b>Nombre: </b>{{order.userName}}</li>
                    <li class="list-group-item"><b>Valor: </b>{{order.price}}</li>
                    <li class="list-group-item"><b>Productos:</b>
                      <ul>
                        <div *ngIf="order.productDetails && order.productDetails.length > 0">
                          <li *ngFor="let product of order.productDetails">
                            {{ product.nombre }} - Cantidad: {{ getQuantity(product.id || '') }}
                          </li>
                        </div>
                      </ul>
                    </li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-outline-danger btn-block" (click)="volver()"><i
                            class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
