<!-- --------------------------- CONTENIDO INICIO ---------------------------------- -->
<!-- -------------------- CARRUSEL -------------------- -->
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/inicio/carrusel/banner1.jpeg" class="d-block w-100" alt="Carrusel 1" height="500"
          >
      </div>
      <div class="carousel-item">
        <img src="assets/img/inicio/carrusel/banner2.jpg" class="d-block w-100" alt="Carrusel 2" height="500"
         >
      </div>
      <div class="carousel-item">
        <img src="assets/img/inicio/carrusel/banner3.jpg" class="d-block w-100" alt="Carrusel 3" height="500"
         >
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </a>
  </div>
</div>
<!-- -------------------- TARJETAS -------------------- -->
<div class="tarjetas" id="tarjetas">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">

      <!-- Primera Tarjeta -->
      <div class="card-inicio col mb-4">
        <div class="card">
          <img src="assets/img/inicio/carrusel/banner1.jpeg" class="card-img-top img-carta-inicio" alt="...">
          <div class="card-body">
            <div>
              <h4 class="card-title-inicio fuente-titulo">Tips</h4>
              <div class="apartado-info">
                <h5 class=" card-text-inicio fuente-texto">Últimas Tendencias de la Temporada</h5>
                <p class="card-text-inicio fuente-texto"> Descubre las últimas tendencias de la moda que acaban de
                  llegar a nuestra tienda. Desde estilos clásicos hasta las últimas novedades,
                  encuentra tu inspiración</p>
                <a href="/" class="btn btn-sm btn-cards"> Saber más </a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Segunda Tarjeta -->
      <div class="col mb-4">
        <div class="card">
          <img src="assets/img/inicio/carrusel/banner2.jpg" class="card-img-top  img-carta-inicio" alt="...">
          <div class="card-body">
            <h4 class="card-title-inicio fuente-titulo">¡Ofertas!</h4>
            <div class="apartado-info">
              <h5 class="card-text-inicio fuente-texto">Ofertas Especiales y Descuentos Exclusivos</h5>
              <p class="card-text-inicio fuente-texto">Explora nuestras ofertas especiales y descuentos exclusivos para
                clientes en línea. Descubre prendas de alta calidad a precios irresistibles.
              </p>
              <a href="/pages/tienda" class="btn btn-sm btn-cards fuente-texto"> Saber más </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Tercera Tarjeta -->
      <div class="col mb-4">
        <div class="card">
          <img src="assets/img/inicio/carrusel/banner3.jpg" class="card-img-top img-carta-inicio" alt="...">
          <div class="card-body">
            <h4 class="card-title-inicio fuente-titulo">Tienda</h4>
            <div class="apartado-info">
              <p class="card-text-inicio fuente-texto">¡No te pierdas nuestros productos en stock! </p>
              <div>
                <div id="carouselExampleControl" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="3000">
                      <img src="assets/img/inicio/carrusel/banner4.jpg" class="img-carousel-cards d-block w-100"
                        alt="...">
                    </div>
                    <div class="carousel-item" data-interval="3000">
                      <img src="assets/img/inicio/carrusel/banner4.jpg" class="img-carousel-cards d-block w-100"
                        alt="...">
                    </div>
                  </div>
                </div>
                <a href="/pages/tienda" class="btn btn-sm btn-cards fuente-texto"> Ver más </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -------------------- POR QUÉ ELEGIRNOS -------------------- -->
<div class="porqueElegirnos">
  <h2 class="fuente-titulo" style="text-align: center; font-size: 1.5rem;">¿Por qué elegirnos?</h2>
  <br>
  <ol class="fuente-texto">
    <li><img src="./assets/img/icons/comprobado(2).png" alt="check" width="20px" height="20px"> Explora nuestra
      selección de moda actualizada, donde la tendencia se encuentra con la comodidad.</li><br>

    <li><img src="./assets/img/icons/comprobado(2).png" alt="check" width="20px" height="20px"> Comprometidos con la
      calidad, cada prenda en nuestra tienda refleja la excelencia en diseño y confección.</li><br>

    <li><img src="./assets/img/icons/comprobado(2).png" alt="check" width="20px" height="20px"> Nuestro objetivo es tu
      satisfacción total. Queremos que cada compra sea una experiencia única y satisfactoria para ti.</li><br>

    <li><img src="./assets/img/icons/comprobado(2).png" alt="check" width="20px" height="20px"> En nuestra tienda de
      ropa, entendemos la diversidad de estilos. Por eso, te ofrecemos opciones exclusivas que se adaptan a tu
      personalidad y ocasión.</li>
  </ol>

  <p class="fuente-titulo" style="text-align: center; font-size: 1.5rem;"><br><br>POR ESO NUESTRA TIENDA ES TU MEJOR
    OPCIÓN</p>
</div>


<!-- Mision y Vision y Porque somos la mejor opcion  -->

<h2 class="fuente-titulo" id="valor"> NUESTROS VALORES</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center text-center">
  <div class="col mb-6">
    <div class="mision">
      <img src="./assets/img/inicio/motivos_vision/motivacion(3).png" width="105vw" height="120vh"
        style="padding: auto; padding-top: 1rem;" class="card-img-top img-carta-mision" alt="imagen de mision">
      <div class="card-body ">
        <h5 class="tituloMisionVision">Misión</h5>
        <p class="textoMisionVision">Nos dedicamos a proporcionar a nuestros clientes una experiencia única de moda.
          Utilizamos nuestra pasión y conocimiento para ofrecer una cuidadosa selección de prendas
          que no solo reflejen las últimas tendencias, sino que también se adapten a la individualidad
          y estilo de cada persona. Nuestra misión es que te sientas confiado/a y auténtico/a en cada
          pieza que elijas, creando así una conexión especial entre la moda y tu identidad personal.</p>
      </div>

    </div>
  </div>

  <div class="col mb-6">
    <div class="mision">
      <img src="./assets/img/inicio/motivos_vision/vision.png" width="75vw" height="120vh"
        style="padding: auto; padding-top: 1rem;" class="card-img-top img-carta-mision" alt="imagen de Vision">
      <div class="card-body">
        <h5 class="tituloMisionVision">Visión</h5>
        <p class="textoMisionVision">
          Aspiramos a ser referentes destacados en el mundo de la moda, siendo reconocidos por
          nuestra capacidad de anticipar y responder a las cambiantes tendencias del mercado.
          Buscamos inspirar a nuestros clientes a través de una oferta diversa, innovadora y
          sostenible, consolidando así nuestra posición como líderes en la industria de la moda.</p>
      </div>
    </div>
  </div>
</div>
